
h1{
    background-color: aqua;
    width: 355px;
}
input{
    
    padding: 9px;
    background-color: rgb(160, 172, 172) ;
    text-align: center;
    color: black;

}

button {
    padding: 10px 20px;
    background-color: #4620b8;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

